@font-face {
    font-family: kohinoor;
    src: url(Fonts/Kohinoor.ttc);
}

body{
    font-family: kohinoor;
    background-color: #E4EDDF;
}

footer{
    background-color: #1F4ACD;
    height: 800px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

#NavComputer{
    display: none;
}

.topnav {
    overflow: hidden;
    position: relative;
}
      
.topnav #burgermenu {
    display: none;
}
      
.topnav a {
    font-family: 'Montserrat', sans-serif;
    color: #EDB92E; 
    text-align: right;
    text-decoration: none;
    padding: 10px;
    display: block;
    margin: 20px;
}
      
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 40px;
    font-size: 40px;
}
      
.topnav a:hover {
    color: #F8D7EE;
}

.burger{
    font-size: 17px;
    letter-spacing: 1px;
}

.GWlogomobil{
    max-width: 120px;
    margin: 30px;
}

/*TYPOGRAFI*/

h1{
    font-size: 50pt;
    padding-left: 40px;
    color: #1A5800;
    margin: 0px;
}

h2{
    font-size: 20pt;
    padding-left: 40px;
    margin: 0px;
    color: #1A5800;
}

h3{
    font-size: 30pt;
    text-align: center;
    padding: 70px;
    margin: 0px;
    color: #1A5800;
}

h4{
    font-size: 17pt;
    padding: 40px;
    text-align: center;
    margin: 0px;
    color:#1F4ACD;
}

h5{
    font-size: 17pt;
    padding: 40px;
    margin: 0px;
    color:#F8D7EE;
}

.teknoh5{
    color: #1F4ACD;
}

p{
    font-size: 15pt;
    padding: 40px;
    margin: 0px;
    color: #1A5800;
}

/*UDREGN BESPARELSER*/

.besparelsesboks{
    width: 90%;
    height: 300px;
    background-color: #F8D7EE;
}

.udregnknap{
    display: grid;
    width: 150px;
    height: auto;
    background-color: #1F4ACD;
    font-style: bold;
    color: #F8D7EE;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.besparelsesboks2{
    background-color: #EDB92E;
    height: auto;
}

/*VIDEN*/
.videncard{
    height: 120px;
    background-color: #1F4ACD;
    width: 90%;
    border-radius: 20px;
}

/*Nyeste teknologi*/
.teknocard{
    height: 120px;
    background-color: #F8D7EE;
    width: 90%;
    border-radius: 20px;
}


/*Computer version*/
@media only screen and (min-width: 1000px){

    #burgermenu{
        display: none;
    }

    #NavComputer{
        display: inline;
    }

}