@font-face {
    font-family: kohinoor;
    src: url(Fonts/Kohinoor.ttc);
}


body{
    font-family: kohinoor;
    background-image: url(Images/GreenWheelsbaggrund.svg);
    background-size: 100%;
}

.mellemrum{
    height: 1000px;
}

.forside{
    height: 550px;
    width: 100%;
}

footer{
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: #1F4ACD;
    height: 800px;
}

.logowhite{
    padding: 50px;
    width: 200px;
}

li{
    list-style: none;
    display: inline-block; 
    padding: 90px;
    font-size: 25px;
}

a{
    text-decoration: none;
    color:#1A5800;
}

a:hover{
    color:#EDB92E;
    letter-spacing: 1px;
}

#NavComputer{
    display: none;
}

.topnav {
    overflow: hidden;
    position: relative;
}
      
.topnav #burgermenu {
    display: none;
}
      
.topnav a {
    font-family: 'Montserrat', sans-serif;
    color:#1A5800; 
    text-align: right;
    text-decoration: none;
    padding: 10px;
    display: block;
    margin: 20px;
}
      
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 40px;
    font-size: 40px;
}
      
.topnav a:hover {
    color: #F8D7EE;
}

.burger{
    font-size: 25px;
    letter-spacing: 1px;
}

.GWlogomobil{
    max-width: 120px;
    margin: 30px;
}

.GWlogo{
    max-width: 140px;
    margin-top: 60px;
}

/*TYPOGRAFI*/

h1{
    font-size: 50pt;
    padding-left: 40px;
    color: #1A5800;
    margin: 0px;
}

h2{
    font-size: 20pt;
    padding-left: 40px;
    margin: 0px;
    color: #1A5800;
}

h3{
    font-size: 30pt;
    text-align: center;
    padding: 70px;
    margin: 0px;
    color: #1A5800;
}

h4{
    font-size: 17pt;
    padding: 40px;
    text-align: center;
    margin: 0px;
    color:#1F4ACD;
}

h6{
    font-size: 10pt;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    margin: 0px;
    color:#1F4ACD;
}

h5{
    font-size: 17pt;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 20px;
    margin: 0px;
    color:#F8D7EE;
}

.teknoh5{
    color: #1F4ACD;
}

p{
    font-size: 15pt;
    padding: 40px;
    margin: 0px;
    color: #1A5800;
}

p.footer{
    font-size: 17pt;
    padding: 40px;
    margin: 0px;
    color:#F8D7EE;
}

/*UDREGN BESPARELSER*/

.besparelsesboks{
    width: 450px;
    height: 300px;
    background-color: #F8D7EE;
    border-radius: 20px;
}

.bespargrid{
    display: grid;
    justify-content: center;
}

.udregnknap{
    width: 150px;
    background-color: #1F4ACD;
    color: #F8D7EE;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 2px rgb(129, 129, 129);
}

.besparelsesboks2{
    background-color: #EDB92E;
    height: auto;
    box-shadow: 10px 10px 10px 2px rgb(129, 129, 129);
}

.knapgrid{
    display: grid;
    justify-content: center;
}

/*VIDEN*/
.videncard1{
    display: grid;
    height: 110px;
    background-color: #1F4ACD;
    width: 450px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 2px rgb(129, 129, 129);
}

.videncard2{
    display: grid;
    height: 110px;
    background-color: #1F4ACD;
    width: 450px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 2px rgb(129, 129, 129);
}

.videncard3{
    display: grid;
    height: 110px;
    background-color: #1F4ACD;
    width: 450px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 2px rgb(129, 129, 129);
}

.videncard4{
    display: grid;
    height: 110px;
    background-color: #1F4ACD;
    width: 450px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 2px rgb(129, 129, 129);
}

.videncard5{
    display: grid;
    height: 110px;
    background-color: #1F4ACD;
    width: 450px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 2px rgb(129, 129, 129);
}

.videncard6{
    display: grid;
    height: 110px;
    background-color: #1F4ACD;
    width: 450px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 2px rgb(129, 129, 129);
}

.viden{
    display: grid;
    justify-content: center;
}


/*Nyeste teknologi*/
.teknocard{
    height: auto;
    background-color: #F8D7EE;
    width: 450px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 2px rgb(129, 129, 129);
}

.tekno{
    display: grid;
    justify-content: center;
}

/* PIL TIL TOP */

#topknap {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 40px;
}
  
  #topknap:hover {
    color: #F8D7EE;
  }


/*REVEAL effelt*/

/*Computer version*/
@media only screen and (min-width: 1000px){

    .topnav{
        display: none;
    }

    #NavComputer{
        display: inline;
        padding-left: 40px;
    }
    
    h1{
        margin-left: 80px;
    }

    h2{
        margin-left: 80px;
    }

    p{
        margin-left: 80px;
        margin-right: 80px;
        font-size: 25px;
    }

    .besparelsesboks{
        width: 1190px;
    }

    .viden{
        justify-content: center;
        grid-column-gap: 100px; 
        grid-row-gap: 40px;
    }

    .videncard1{
        width: 550px;
        grid-column: 1;
        grid-row: 1;
    }

    .videncard2{
        width: 550px;
        grid-column: 2;
        grid-row: 1;
    }
    
    .videncard3{
        width: 550px;
        grid-column: 1;
        grid-row: 2;
    }

    .videncard4{
        width: 550px;
        grid-column: 2;
        grid-row: 2;
    }

    .videncard5{
        width: 550px;
        grid-column: 1;
        grid-row: 3;
    }

    .videncard6{
        width: 550px;
        grid-column: 2;
        grid-row: 3;
    }

    .teknocard{
        width: 1190px;
    }



}